/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Fuggles);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);

/* Classes*/
body {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: "Fuggles";
    text-align: center;
    background-image: url(BackgroundImage2.webp);
    background-repeat: no-repeat;
    font-weight: bold;
    background-size: cover;
    font-size: 68px;
    height: 100px;
    width: 100%;
    margin-top: 0;
    padding: 0;
}
header {
    background-color: lightslategray;
    color: white;
    height: 7vh;
    font-family: 'Bebas Neue';
    font-size: 30px;
}

/* Ids*/
#HeaderText {
    padding: 0;
    margin: 0;
}
#IconImg {
    float: left;
    margin: 5px;
    padding: 0;
    margin-top: 0;
    width: 50px;
    height: 50px;
    border: 0;
}
#BodyText {
    text-align:center;
    margin-left: 5vw;
    margin-right: 5vw;
    word-wrap: break-word;
}